contourpy
cycler
et-xmlfile
fonttools
kiwisolver
matplotlib
networkx
numpy
openpyxl
packaging
pandas
pillow
pyasn1
pyparsing
PySide6
PySide6_Addons
PySide6_Essentials
PySimpleGUI
python-dateutil
pytz
PyYAML
rsa
scipy
setuptools
shiboken6
six
tzdata
vcstool